# remove this line and rename the file to .env when done adding ur details 

SESSION_ID=
OWNER_NUMBER=
OWNER_NAME=𝙼𝚛 𝚇𝙳𝙺𝙸𝙽𝙶
MODE=public 
TIME_ZONE=Africa/Harare 
# Postress(Get one for free from neon.tech/supabase/render)...will fallback to path: database.db if not provided
DATABASE_URL=
# Get your free key at https://api.malvin.gleeze.com (sign up, key is on your dashboard)
MALVIN_API_KEY=
